body{
    background-image: url("../img/fondo21.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 36%;
}

.fotoPerfil{
    border: #ffffff solid 5px;
    border-radius: 10px;
}

h5,h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-stroke: .5px;        
    -webkit-text-stroke-color:#ffffff;
    color: #000000;
    font-size: 28px;
    font-style: italic;    
}

p{
    -webkit-text-stroke: 1px;        
    -webkit-text-stroke-color:#ffffff;
    color: #ffffff;
    font-stretch: ultra-condensed;
}

#infopersonal li{
    opacity: none;
}

.recetario{
    overflow: scroll;
    height: 340px;
}

.favoritos
{
    overflow: scroll;
    height: 340px;
}
.recetario::-webkit-scrollbar {
    height: 0;
    width: 6px;
    background: rgba(255, 20, 145, 0);
}
.recetario::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(255, 255, 255);
    border: 1px double black;
}

.recetario::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: rgb(0, 0, 0);
    border: 1px double white;
}

.favoritos::-webkit-scrollbar {
    background: rgba(255, 20, 145, 0);
    height: 0;
    width: 6px;
}

.favoritos::-webkit-scrollbar-thumb {

    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px double black;
}

.favoritos::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: rgb(0, 0, 0);
    border: 1px double white;
}

#infopersonal li{
    background-color: initial;

}

.fotoPerfil{
    width: 13rem;
}

.imagenReceta{
    border-radius: 10px;
    border: 2px solid black;
}

li:hover{
    background-color: rgba(255, 255, 255, 0.288);
    border-radius: 10px;
}

a:hover{
text-decoration: none;
}

/*xl y lg  */
@media screen and (min-width : 768px){
    .navbar{
        flex-wrap: initial;
    }
}
/* md */
@media (max-width:767px) and (min-width : 425px){
    .navbar{
        flex-wrap: initial;
    }

}

/* sm */
@media (max-width:424px) and (min-width : 370px){
    .navbar{
        flex-wrap: initial;
    }
}